:root {
  --sh-class: #96c3ff;
  --sh-identifier: #e1e6d8;
  --sh-sign: #8996a3;
  --sh-string: #a9d8d4;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
  --sh-jsxliterals: #989bed;
  --sh-entity: #e9edc5;
  --sh-property: #7be5f2;
  --codice-control-color: #8d8989;
  --codice-caret-color: #d5efea;
  --codice-title-color: hsla(0, 0%, 87%, 0.34);
  --codice-code-line-number-color: #a4a4a4;
  --codice-code-highlight-color: #555555;
  --codice-control-color: #8d8989;

  /* app color */
  --control-bg-color: #242424;
  --control-color: #c8c6c6;

  /* app editor */
  --app-editor-bg-color: #3d3c3c;
}

/* Override for light theme */
[data-theme='light'] {
  --sh-class: #366096;
  --sh-identifier: #b2831d;
  --sh-sign: #8996a3;
  --sh-string: #598a86;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
  --sh-jsxliterals: #989bed;
  --sh-entity: #aab738;
  --sh-property: #246f79;

  --codice-control-color: #6c6c6c;
  --codice-title-color: #272727;
  --codice-caret-color: #272727;

  --codice-code-highlight-color: #e8e8e8;

  /* app style */
  --control-color: #363434;
  --control-bg-color: #d0d0d0;

  /* app editor */
  --app-editor-bg-color: #efefef;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  /* no scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }
}
body {
  max-width: 600px;
  margin: auto;
  padding: 0;
  background-color: #343434;
  color: #ffeceb;
}

a,
a:visited {
  color: inherit;
}

input[type='radio'] {
  display: none;
}
.description {
  margin: 2rem 0;
}
.description .code-install {
  margin-top: 2rem;
  border-radius: 8px;
}
.code-install--bash {
  padding: 0 0.5rem;
  background-color: #242424;
}

::selection {
  background-color: rgba(226, 255, 234, 0.2);
}

/* Components */
.titles {
  margin-bottom: 6rem;
}
.huge-title {
  font-size: 6rem;
  font-weight: 700;
  color: #f47067;
  margin-bottom: 1rem;
  text-shadow: -2px 1px 6px #5c5c5c;
  transition: text-shadow 0.1s ease-in-out;
}
.huge-title:hover {
  text-shadow: 0 0 10px #f47067;
}
.subtitle {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  transition: text-shadow 0.1s ease-in-out;
}
.main {
  padding: 4rem 0.5rem;
  width: 100%;
}
.section {
  margin: 4rem 0;
}
.section h2 {
  margin: 0;
  font-weight: 500;
  font-size: 1.3rem;
}
.control-button {
  display: inline-block;
  padding: 0rem 0.8rem;
  border-radius: 88px;
  background-color: var(--control-bg-color);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.control-button .controls-manager-label {
  cursor: pointer;
}
.control-button:hover {
  opacity: 0.85;
}

@keyframes shaking-a-little-oblique {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(-1deg);
  }
  50% {
    transform: translateX(2px) rotate(1deg);
  }
  75% {
    transform: translateX(-2px) rotate(-1deg);
  }
  100% {
    transform: translateX(0);
  }
}

.control-button:active {
  opacity: 0.7;
  animation: shaking-a-little-oblique 0.2s ease-in-out;
}
.range-button {
  width: 26px;
  height: 26px;
  padding: 2px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.range-button svg {
  vertical-align: middle;
}

/* animate the polyline < and > icon, change the angle to smaller */
.range-button svg:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

/* Code Example */
.code-example [data-codice-code] {
  background-color: #343434;
  color: #d5d5d5;
  border-radius: 8px;
  overflow-x: auto;
  font-size: 14px;
  margin: 1rem 0;
}

.editor {
  border-radius: 8px;
}

#editor-canvas {
  padding: 0.5rem;
  background-color: var(--app-editor-bg-color);
}

.code-example__item {
  padding: 1rem;
  background-color: #3d3d3d;
  border-radius: 8px;
  margin: 2rem 0;
  border: 1px solid rgba(163, 169, 165, 0.2);
}

.code-example__item__title {
  margin: 0 0 2rem;
}
.controls-manager-label {
  display: inline-block;
  padding: 0.2rem 0;
  user-select: none;
  border-radius: 66px;
}
.controls-manager-label--checked,
.controls-manager label[data-checked='true'] {
  color: var(--control-color);
}
.controls-manager-input {
  display: inline-block;
  min-width: 2ch;
  margin: 0;
  padding: 0 4px;
  background-color: transparent;
  color: var(--control-color);
  font-size: 1rem;
  font-weight: 600;
  resize: horizontal;
  outline-color: var(--control-color);
  width: 68px;
  line-height: 1;
  border: none;
}
.controls-manager-input::selection {
  background-color: #565656;
}
.range-selector-value {
  display: inline-block;
  min-width: 32px;
  text-align: center;
}
.range-control {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 88px;
  background-color: var(--control-bg-color);
}
.range-control .controls-manager-label {
  margin: 0 0.5rem;
  font-weight: 600;
}

@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 2px rgba(50, 50, 50, 0.4);
    /* color: rgb(59, 130, 246); */
  }
  50% {
    text-shadow: 0 0 6px rgba(133, 133, 133, 0.829);
    /* color: rgb(37, 99, 235); */
    font-weight: 900;
  }
}
.range-control button {
  background-color: transparent;
  border: none;
  color: var(--control-color);
  cursor: pointer;
  padding: 0;
}
.range-button label {
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.range-control button:active + label,
.range-control button:active ~ label {
  animation: glow 0.2s ease-in-out;
}
/* < decrease button style */
.range-control button:first-child {
  transition: background-color 0.2s ease-in-out;
}
/* > increase button style */
.range-control button:last-child {
  transition: background-color 0.2s ease-in-out;
}

.controls {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
.controls-manager {
  display: flex;
  font-size: 14px;
  gap: 0.5rem;
}
.controls-manager label span {
  font-size: 12px;
}

.controls-manager input[type='checkbox'] {
  /* make it looks fancy */
  display: none;
}

.css-arrow {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  font-size: inherit;
}

.css-arrow .line {
  position: absolute;
  width: 0.7em;
  height: 0.1em;
  background: black;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  border-radius: 0.05em;
  transition: transform 0.2s ease;
}

.line.top {
  top: 0.25em;
  transform: rotate(45deg);
}

.line.bottom {
  bottom: 0.25em;
  transform: rotate(-45deg);
}

.css-arrow:hover .top {
  transform: rotate(30deg);
}

.css-arrow:hover .bottom {
  transform: rotate(-30deg);
}

.editor-layout {
  position: relative;
  width: min(900px, 100vw);
  margin-left: calc(50% - min(900px, 100vw) / 2);
  display: flex;
  justify-content: center;
}
.editor-resize {
  display: flex;
}
.copy-image {
  cursor: pointer;
  background-color: #f87e68;
  padding: 0.2rem 0.8rem;
  border-radius: 88px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  font-weight: 600;;
}
.copy-image:hover {
  opacity: 0.8;
}

/* Codice Styling */
[data-codice='editor'] {
  max-width: 100%;
  /* max-width: 640px; */
  border: 1px transparent solid;
}
.editor[data-codice='editor'] textarea,
.editor[data-codice='editor'] [data-codice-content] {
  border-radius: 8px;
  border: 1px solid;
  transition: border 0.2s ease-in-out;
  border-color: transparent;
}

.editor[data-codice='editor'] [data-codice-content]:hover {
  border-color: rgba(163, 169, 165, 0.2);
}

[data-codice-control] {
  transition: background-color 0.2s ease-in-out;
}
[data-codice-control]:nth-child(1):hover {
  background-color: #f47067;
}
[data-codice-control]:nth-child(2):hover {
  background-color: #fdbc40;
}
[data-codice-control]:nth-child(3):hover {
  background-color: #34d399;
}

@media screen and (max-width: 640px) {
  .code-example__item {
    padding: 0.5rem;
  }
}

/* TODO: move the title focus color change to lib */
[data-theme='dark']:has([data-codice-title]) {
  --codice-title-color: hsla(0, 0%, 87%, 0.34);
}
[data-theme='dark']:has([data-codice-title]:focus) {
  --codice-title-color: hsla(0, 0%, 87%, 0.54);
}
[data-theme]:not([data-theme='dark']):has([data-codice-title]) {
  --codice-title-color: hsla(0, 0%, 13%, 0.34);
}
[data-theme]:not([data-theme='dark']):has([data-codice-title]:focus) {
  --codice-title-color: hsla(0, 0%, 13%, 0.54);
}
[data-theme='dark'] textarea:focus {
  color: rgba(240, 248, 255, 0.36);
}
[data-theme]:not([data-theme='dark']) textarea:focus {
  color: rgba(77, 63, 63, 0.16);
}

[data-theme='dark'] body {
  background-color: #343434;
}
[data-theme]:not([data-theme='dark']) body {
  background-color: #f5f5f5;
  color: #272727;
}
[data-theme]:not([data-theme='dark']) .code-install--bash {
  background-color: #e8e8e8;
  --sh-identifier: #645151;
}
[data-theme]:not([data-theme='dark']) .code-example [data-codice-code] {
  background-color: #f5f5f5;
  color: #272727;
}
[data-theme]:not([data-theme='dark']) .code-example__item {
  border-color: rgba(163, 169, 165, 0.2);
  background-color: #f5f5f5;
}
[data-theme]:not([data-theme='dark']) .copy-image {
  background-color: #e4b4ab;
  color: #272727;
}

[data-theme]:not([data-theme='dark']) .range-button:hover {
  background-color: #c0c0c0;
}
[data-theme='dark'] .range-button:hover {
  background-color: #3d3939;
}
