:root {
  --sh-class: #96c3ff;
  --sh-identifier: #e1e6d8;
  --sh-sign: #8996a3;
  --sh-string: #a9d8d4;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
  --sh-jsxliterals: #989bed;
  --sh-entity: #e9edc5;
  --sh-property: #7be5f2;
  --codice-editor-text-color: transparent;
  --codice-editor-background-color: transparent;
  --codice-editor-caret-color: #d5efea;
  --codice-editor-control-color: #8d8989;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }
}
body {
  max-width: 600px;
  margin: auto;
  padding: 0;
  background-color: #343434;
  color: #ffeceb;
}
a, a:visited {
  color: inherit;
}

input[type=radio] {
  display: none;
}
.description {
  margin: 2rem 0;
}
.code--default {
  background-color: #242424;
}

::selection {
  background-color: rgba(226, 255, 234, 0.2);
}

/* Components */
.titles {
  margin-bottom: 6rem;
}
.huge-title {
  font-size: 6rem;
  font-weight: 700;
  color: #f47067;
  margin-bottom: 1rem;
  text-shadow: -2px 1px 6px #5c5c5c;
  transition: text-shadow 0.1s ease-in-out;
}
.huge-title:hover {
  text-shadow: 0 0 10px #f47067;
}
.subtitle {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  transition: text-shadow 0.1s ease-in-out;
}
.main {
  padding: 4rem 1rem;
  width: 100%;
}
.section {
  margin: 4rem 0;
}

/* Code Example */
.code-example [data-codice-code] {
  background-color: #343434;
  color: #d5d5d5;
  border-radius: 0.5rem;
  overflow-x: auto;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
}

.code-example pre code {
  font-size: 1rem;
  line-height: 1.5;
}

.code-example__item {
  padding: 1rem;
  background-color: #3d3d3d;
  border-radius: 0.5rem;
  margin: 3rem 0;
  border: 1px solid rgba(163, 169, 165, 0.2);
}
.code-example__item__title {
  margin: 0 0 2rem;
}

/* Codice Styling */
[data-codice-editor] {
  max-width: 100%;
  max-width: 640px;
  border: 1px transparent solid;
}
.editor[data-codice-editor] textarea {
  border-radius: 8px;
  border: 1px solid rgba(163, 169, 165, 0.2);
  transition: border 0.2s ease-in-out;
  padding-top: 64px; /* TODO: dynamic padding-top with controls */
}
[data-codice-editor-title] {
  color: hsla(0, 0%, 87%, 0.34);
}
:nth
[data-codice-editor-control] {
  transition: background-color 0.2s ease-in-out;
}
[data-codice-editor-control]:nth-child(1):hover {
  background-color: #f47067;
}
[data-codice-editor-control]:nth-child(2):hover {
  background-color: #fdbc40;
}
[data-codice-editor-control]:nth-child(3):hover {
  background-color: #34d399;
}
.code [data-codice-code-content] {
  padding: 16px;
}
