:root {
  --sh-class: #96c3ff;
  --sh-identifier: #e1e6d8;
  --sh-sign: #8996a3;
  --sh-string: #a9d8d4;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
  --sh-jsxliterals: #989bed;
  --editor-text-color: transparent;
  --editor-background-color: transparent;
  --editor-control-color: transparent;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif
}
body {
  max-width: 960px;
  margin: auto;
  padding: 36px 16px;
  display: flex;
  justify-content: center;
  background-color: #101010;
}
input[type=radio] {
  display: none;
}
.features {
  margin: 16px 0;
}
.header {
  padding: 0 8px;
}
.header h1 {
  font-size: 64px;
  font-weight: 800;
  text-align: center;
  margin: 1rem;
}
.editor {
  width: 100vw;
  max-width: 640px;
  position: relative;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  scrollbar-width: none;
  border: 1px transparent solid;
}

code, textarea {
  font-family: Consolas, Monaco, monospace;
  padding: 24px 36px;
  font-size: 16px;
  line-height: 1.25em;
  caret-color: #d5efea;
  scrollbar-width: none;
  border-radius: 8px;
  border: none;
  outline: none;
}
textarea {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  border: 1px solid rgba(163, 169, 165, 0.2);
  transition: border 0.2s ease-in-out;
  overflow: hidden;
}
textarea::-webkit-scrollbar,
textarea:focus::-webkit-scrollbar,
textarea:hover::-webkit-scrollbar {
  width: 0;
}
textarea:focus {
  border: 1px solid rgba(226, 255, 234, 0.3);
}

code {
  border: none;
  counter-reset: sh-line-number;
  width: 100%;
  min-height: 400px;
}
::selection {
  background-color: rgba(226, 255, 234, 0.2);
}

.editor-header {
  position: relative;
  display: flex;
  padding: 16px 22px;
}

.editor-title {
  flex: 1 0;
  text-align: center;
  color: hsla(0, 0%, 87%, 0.34);
}

.editor-controls__control {
  display: flex;
  width: 12px;
  height: 12px;
  margin: 4px;
  border-radius: 50%;
}
.editor-controls {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(16px, -50%);
}
